@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box
}

body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto;
}

.page-span {
  color: orange
}

.heading {
  font-size: 4rem;
  margin: 0;
}

.no-decoration {
  list-style: none;
}

.flex-d-row {
  display: flex;
  flex-direction: row;
}

.flex-d-column {
  display: flex;
  flex-direction: column;
}
.w-100 {
  width: 100%;
}

.border-4-black {
  border: 4px solid black;
}
