#section4 {
  background-image: url(../assets/images/charlesdeluvio-image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-weight: 700;
}

.mid-container {

}

#phone {
  border: 1px solid orange;
  border-radius: 50%;
  padding: 24px;
}

.times-container {
  width: 100%;
}

#video-container {
    display: flex;
    height: 100%;
}

.video-and-icons {
  height: 100%;
  width: 100%;
}

.video-img {
  background-image: url(../assets/images/brooke-lark-image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 88%;
}

.arrow-circle-icon {
  border: 1px solid orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 4%;
}
