@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.navbar {
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
}

.nav > ul > li {
  margin-right: 3%;
  list-style: none;
}

.nav> ul> li:last-child {
  margin-right: 0;
}

.nav > ul > li:hover {
  background-color: white;
  cursor: pointer;
}

@media (max-width: 599px) {

}
