#section3 {
  background-image: url(http://baconmockup.com/1920/1080);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
