
:root {
  --border-black: 1px solid black;
  --border-orange: 1px solid orange;
  --orange: orange;
}
#section3 {
  background-image: url(../assets/images/anna-pelzer-image1.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#section3-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section3-text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

}

#section3-nav {
  width: 100%;
  gap: 8px;
  display: flex;
  justify-content: center;
}

#section3-ul {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#section3-ul > li {
  width: 100%;
  border-bottom: 1px solid black
}

#section3-ul > li:hover {
  background-color: white;
  cursor: pointer;
}

#section3-ul > .active {
  color: var(--orange);
  border-bottom: var(--border-orange);
}

.arrow > i {
  color: #FFBF00;
}

#dot-container {

}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FFBF00	;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #CC5500;
}
